*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}
body{
    margin: 0 auto;
    width: 999px;
}
.top{
    overflow: hidden;
    width: 999px;
    height: 100px;

}
.top .top-banner{
    width: 139px;
    height: 43px;
    display: inline-block;
    background: url(img/logo.jpg);
    margin: 28px 20px;
    
}
.top .top-search{
    width: 230px;
    height: 28px;
    float: right;
    background: #f1f1f1;
    margin-top: 35px;
}
.top-search .search{
    float: left;
    background: rgba(0, 0, 0, 0);
    width: 197px;
    height: 28px;
    box-sizing: border-box;
    border:none;
    outline: none; 
}
.top-search .sub{
    float: left;
    width: 28px;
    height: 28px;
    background: url(img/sub.png);
    box-sizing: border-box;
    border:none;
    /* outline: none; */
}
.nav{
    width: 100%;
    height: 60px;
    background: #313131;
}
.nav li{
    margin-right: 1px;
    height: 60px;
    float: left;
}
.nav .li1{
    width: 145px;
    background: url(img/nav.jpg);
}
.nav .li1:hover{
    background: url(img/nav-on.jpg)
}
.nav .li2{
    width:121px;
    background: url(img/nav.jpg) -146px 0;
}
.nav .li2:hover{
    background: url(img/nav-on.jpg) -146px 0;
}
.nav .li3{
    width: 120px;
    background: url(img/nav.jpg) -267px 0;
}
.nav .li3:hover{
    background: url(img/nav-on.jpg) -267px 0;
}
.nav .li4{
    width: 121px;
    background: url(img/nav.jpg) -387px 0;
}
.nav .li4:hover{
    background: url(img/nav-on.jpg) -387px 0;
}
.nav .li5{
    width: 119px;
    background: url(img/nav.jpg) -508px 0;
}
.nav .li5:hover{
    background: url(img/nav-on.jpg) -508px 0;
}
.nav .li6{
    width: 121px;
    background: url(img/nav.jpg) -627px 0;
}
.nav .li6:hover{
    background: url(img/nav-on.jpg) -627px 0;
}
.nav .li7{
    width: 120px;
    background: url(img/nav.jpg) -748px 0;
}
.nav .li7:hover{
    background: url(img/nav-on.jpg) -748px 0;
}
.nav .li8{
    width: 124px;
    background: url(img/nav.jpg) -868px 0;
}
.nav .li8:hover{
    background: url(img/nav-on.jpg) -868px 0;
}
.bg{
    width: 999px;
    height: 460px;
    background: url(img/bg.jpg) no-repeat;
}
.wrapper{
    width: 100%;
    height: 244px;
    /* background: #f1f1f1; */
    overflow: hidden;
}

.wrapper .main1{
    width: 460px;
    height: 180px;
    margin: 30px 20px;
    float: left;
}
.title{
    font-size: 20px;
    font-weight: bold;
    color: #5b5b5b;
}
.main1 li{
    list-style-type: disc;
    color:#313131;
    margin: 8px 0;
    font-size: 12px;
}
 .main1 .day{
    float: right;
} 
.wrapper .main2{
    height: 240px;
    width: 240px;
    background: #f1f1f1;
    float: left;
}
.main2 .content{
    margin: 30px 20px;
}
.main2 p{
    line-height: 35px;
}
.main2 .p1{
    font-size: 15px;
}
.main2 .p2{
    font-size: 12px;
    color: #555;
}
.main2 .p3{
    font-size: 11px;
    color: #a8a8a8;
}
.wrapper .main3{
    width: 259px;
    height: 240px;
    float: left;
     background: #fbfbfb; 
}
.main3 .content{
    margin: 30px 20px;
}
.main3 p{
    font-size: 12px;
    color: #717171;
    line-height: 40px;
}
.main3 .grass{
    background: url(img/grass.jpg);
    width: 259px;
    height: 104px;
}
.wrapper2{
    width:100%;
    height: 330px;
    /* background: cyan; */
    overflow:hidden;
}
.wrapper2 .content{
    margin: 30px 20px;
}
.wrapper2 #box{
    width: 210px;
    height: 190px;
    /* background: cyan; */
    margin: 30px 14px;
    float: left;
}
.wrapper2 .box1{
    background: url(img/box1.jpg);
}
.wrapper2 .box2{
    background: url(img/box2.jpg);
}
.wrapper2 .box3{
    background: url(img/box3.jpg);
}
.wrapper2 .box4{
    background: url(img/box4.jpg);
}
.bottom{
    width: 100%;
    height: 250px;
    overflow: hidden;
    background: #e5e5e5;
    font-size: 12px;
    color: #545454;
    line-height: 30px;
}
.bottom .content1 {
    float: left;
    margin: 30px 8px 0 20px;
    width: 500px;
}
.bottom .content1 .line{
    width: 450px;
    height: 1px;
    background: #c3c3c3;
}
.bottom  ul{
    float: left;
    margin:20px 30px;
}
.bottom .content2 {
    margin: 30px 20px 0 0;
    float: left;
}
.bottom .content2 .line{
    width: 150px;
    height: 1px;
    background: #c3c3c3;
}
.bottom .content3 {
    margin: 30px 20px;
    float: left;
}
.bottom .content3 .line{
    width: 249px;
    height: 1px;
    background: #c3c3c3;
}
.bottom .content3 li{
    width: 200px;
    height: 150px;
    background: url(img/dt.jpg) no-repeat;
}
.fotter{
    widows: 100%;
    height: 80px;
     
}
.left{
    color: #a1a1a1;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 12px;
    float: left;
}
.right{
    font-size: 12px;
    float: right;
    color: #a1a1a1;
    margin-top: 20px;
    margin-bottom: 40px;
}